.content {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10vh;
}

.content-header {
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#empty-gallery {
    text-align: center;
    padding-top: 15vh;
    opacity: 60%;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 5%;
        padding-right: 5%;
    }
}